<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- 헤더 -->
    {% include 'posts/header.html' %}
    <!-- 메인 -->
    <main>
        <section class="mt20">
            <div class="container cc">
                <h1 class="tc">작가 목록</h1>
                <!-- 검색 폼 -->
                <form method="GET" action="{% url 'artist_list' %}" class="search-form">
                    <input type="text" name="q" placeholder="이름, 성별, 이메일로 검색" value="{{ request.GET.q }}">
                    <button type="submit">검색</button>
                </form>
                <table class="mt6 artist_list">
                    <tr>
                        <th>이름</th>
                        <th>성별</th>
                        <th>생년월일</th>
                        <th>이메일</th>
                        <th>연락처</th>
                    </tr>
                    {% for artist in artists %}
                    <tr>
                        <td>{{ artist.name }}</td>
                        <td>{{ artist.get_gender_display }}</td>
                        <td>{{ artist.birth_date }}</td>
                        <td>{{ artist.email }}</td>
                        <td>{{ artist.contact }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>
</body>
</html>