<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- 헤더 -->
    {% include 'posts/header.html' %}
    <!-- 메인 -->
    <main>
        <section class="mt20">
            <div class="container cc">
                <!-- 검색 폼 -->
                <form method="GET" action="{% url 'artist_list' %}" class="search-forms mt2">
                    <select name="gender">
                        <option value="">성별 선택</option>
                        <option value="M" {% if request.GET.gender == "M" %}selected{% endif %}>남성</option>
                        <option value="F" {% if request.GET.gender == "F" %}selected{% endif %}>여성</option>
                    </select>
                    <input type="date" name="birth_date" placeholder="생년월일" value="{{ request.GET.birth_date }}">
                    <input type="text" name="q" placeholder="작가님의 이름, 이메일 또는 연락처로 검색" value="{{ request.GET.q }}">
                    <button type="submit">검색</button>
                </form>
                <h1 class="tc mt4">작가 목록</h1>
                <ul class="mt6 artist_list">
                    {% for artist in artists %}
                    <li>
                        <img src="{% if artist.profile_image %}{{ artist.profile_image.url }}{% else %}{% static 'posts/images/default_profile.png' %}{% endif %}" alt="profile_img" width="400" height="250">
                        <div>
                            <p>{{ artist.name }}</p>
                            <p>{{ artist.get_gender_display }}</p>
                            <p>{{ artist.birth_date|date:"Y.m.d" }}</p>
                            <p>{{ artist.email }}</p>
                            <p>{{ artist.contact }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
</body>
</html>