
<header>
    <!-- 헤더 -->
    <div class="container mt2 fb">
        <nav class="fb">
            <ul class="mainTab f21 fb">
                <li><a href="{% url 'home'%}">홈</a></li>
                <li><a href="#">예약하기</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
            <ul class="userTab fb f18">
                <li><a href="{% url 'login'%}">로그인</a></li>
                <li><span>|</span></li>
                <li><a href="{% url 'signup'%}">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <!-- 헤더 -->
</header>