<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'posts/header.html' %}
    <!-- 로그인 콘텐츠 -->
    {% block content %}
    <main>
        <section class="cc mt20">
            <div class="container login mt4">
                <h2 class="cc">Login Page</h2>
                <form action="{% url 'login' %}" method="post" class="mt6">
                    {% csrf_token %}
                    <div class="mt2">
                        <p>아이디 : </p>
                        <input type="text" id="username" name="username" required placeholder="아이디를 입력해주세요.">
                    </div>
                    <div class="mt4">
                        <p>비밀번호 : </p>
                        <input type="password" id="password" name="password" required placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div>
                        <button type="submit">로그인</button>
                    </div>
                </form>
                <p class="signup_href">아직 회원이 아니시라면? <a href="{% url 'signup' %}">회원가입</a></p>
            </div>
        </section>
    </main>
    <!-- 로그인 콘텐츠 -->
    {% endblock %}
</body>
</html>