<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    <title>작품 등록</title>
</head>
<body>
    {% include 'posts/header.html' %}
    
    <main>
        <section class="cc mt20">
            <div class="container cc">
                <h1 class="tc">작품 등록</h1>
                <form method="POST" id="artwork-form" class="mt6 register_artwork" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt2">
                        <label for="artwork_image">작품 사진:</label>
                        <input type="file" id="artwork_image" name="artwork_image">
                    </div>
                    <div class="mt2">
                        <label for="title">작품 제목:</label>
                        <input type="text" id="title" name="title" maxlength="64" required>
                    </div>
                    <div class="mt2">
                        <label for="price">가격:</label>
                        <input type="text" id="price" name="price" required>
                    </div>
                    <div class="mt2">
                        <label for="hoosu">호수 (1 ~ 500):</label>
                        <input type="number" id="hoosu" name="hoosu" min="1" max="500" required>
                    </div>
                    <div class="mt2 cc">
                        <button type="submit">등록하기</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script>
        // // 천 단위 콤마 표시 함수
        // function formatPrice(value) {
        //     return value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        // }

        // document.getElementById('price').addEventListener('input', function(event) {
        //     let priceInput = event.target;
        //     // 숫자만 입력 가능하도록 설정
        //     priceInput.value = priceInput.value.replace(/[^\d]/g, '');
        //     // 천 단위 콤마 추가
        //     priceInput.value = formatPrice(priceInput.value);
        // });

        // document.getElementById('artwork-form').addEventListener('submit', function(event) {
        //     let isValid = true;
        //     const priceInput = document.getElementById('price').value.replace(/,/g, ''); // 콤마 제거 후 숫자 확인
        //     const canvasSizeInput = document.getElementById('canvas_size').value;

        //     // 가격이 0 이상인지 확인
        //     if (parseInt(priceInput) <= 0) {
        //         isValid = false;
        //         alert('가격은 0 이상이어야 합니다.');
        //     }

        //     // 호수 범위 검사
        //     if (canvasSizeInput < 1 || canvasSizeInput > 500) {
        //         isValid = false;
        //         alert('호수는 1 이상 500 이하의 숫자여야 합니다.');
        //     }

        //     if (!isValid) {
        //         event.preventDefault(); // 폼 제출 방지
        //     }
        // });
    </script>
</body>
</html>
